<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Диалог с Ф.М.Достоевским</title>
	<!-- favicon --> 
	<link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon"> 
	<link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
	<!--third-party stylesheets-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/libs/bootstrap.min.css') }}">
	<!--internal stylesheet-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
	<header class="page-header container">
		<h1 class="row justify-content-center">Диалог с Ф.М.Достоевским</h1>
	</header>
	<main class="container">
		<p class="main-image-wrapper">
			<img class="main-image" src="../static/img/content_dost.jpg"/>
		</p>
		<form action="/sentence_gen" method="POST" name="form" class="row justify-content-center main-form">
			<span for="input" class="main-form-label">Введите предложение:</span>
			<input id="input" class="input main-form-input" placeholder="Предложение" name="sentence" type="text"></input>
			<input class="btn btn-inverse" type="button" value="Сгенерировать" onclick="send_sentence();"></input>
		</form>
		<p id="answer" class="row justify-content-center main-answer"></p>
	</main>
	<footer class="container page-footer">
		<small class="row justify-content-center">Василиса Дёмина 2018 &copy</small>
	</footer>
	
	<!--third-party libs-->
	<script src="{{ url_for('static', filename='js/libs/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/libs/popper.min.js') }}"></script>
	<!--internal js-->
	<script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
</body>
</html>